* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "Ukraine";
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Ukraine";
  font-display: swap;
  src: url("../fonts/e-Ukraine-Light.woff") format("woff"), url("../fonts/e-Ukraine-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ukraine";
  font-display: swap;
  src: url("../fonts/e-Ukraine-Regular.woff") format("woff"), url("../fonts/e-Ukraine-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ukraine";
  font-display: swap;
  src: url("../fonts/e-Ukraine-Bold.woff") format("woff"), url("../fonts/e-Ukraine-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body.lock {
  overflow: hidden;
}

.title h1 {
  font-family: "Ukraine";
  color: #000000;
  font-size: 46px;
  line-height: 1.2;
}

.title h2 {
  font-family: "Ukraine";
  font-size: 32px;
  color: #000000;
  line-height: 48px;
}

.text p {
  font-family: "Ukraine";
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
}

.button a {
  display: inline-block;
  padding: 22.5px 30px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Ukraine";
  background-color: rgb(107, 107, 241);
  border-radius: 40px;
}

.container {
  max-width: 1290px;
  padding: 0px 15px;
  margin: 0 auto;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.header {
  padding: 34px 0px 26px 0px;
  -webkit-box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.02);
  position: relative;
  z-index: 50;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img {
  width: 56px;
  height: 56px;
  position: relative;
  z-index: 3;
}

.header__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin: 0px 40px 0px 0px;
}

.header__item:last-child {
  margin: 0;
}

.header__item a {
  font-family: "Ukraine";
  font-size: 14px;
  font-weight: 300;
  color: #000000;
}

.header__burger {
  display: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 3;
}

.header__burger::before {
  content: "";
  position: absolute;
  top: 10.5px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 25px;
  height: 3.5px;
  background-color: #000000;
  border-radius: 7px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::after {
  content: "";
  position: absolute;
  bottom: 10.5px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 25px;
  height: 3.5px;
  background-color: #000000;
  border-radius: 7px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger.active::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header__burger.active::after {
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
      -ms-transform: translate(-50%, 50%) rotate(45deg);
          transform: translate(-50%, 50%) rotate(45deg);
}

.fullscreen {
  margin: 19px 0px 0px 0px;
  padding: 120px 0px 0px 0px;
}

.fullscreen__body {
  width: 100%;
  min-height: auto;
  padding: 0px 0px 300px 0px;
  background: url("../img/fullscreen/01.jpg") center/cover no-repeat;
  border-radius: 20px;
  position: relative;
}

.fullscreen__info {
  width: 57%;
  height: auto;
  padding: 0px 0px 30px 0px;
  background-color: #ffffff;
  border-bottom-right-radius: 70%;
  position: relative;
}

.fullscreen__info::before {
  content: "";
  position: absolute;
  top: 0;
  right: -24.5px;
  width: 25px;
  height: 25px;
  background: url("../img/fullscreen/decor/01.png") center/contain no-repeat;
}

.fullscreen__info::after {
  content: "";
  position: absolute;
  left: -0.5px;
  bottom: -25px;
  width: 25px;
  height: 25px;
  background: url("../img/fullscreen/decor/01.png") center/contain no-repeat;
}

.fullscreen__title {
  width: 90%;
  margin: 0px 0px 19px 0px;
  position: relative;
  z-index: 2;
}

.fullscreen__text {
  width: 48%;
  margin: 0px 0px 31px 0px;
  position: relative;
  z-index: 2;
}

.fullscreen__link {
  position: relative;
  z-index: 2;
}

.fullscreen__link a {
  display: inline-block;
  padding: 22.5px 30px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Ukraine";
  background-color: rgb(107, 107, 241);
  border-radius: 40px;
}

.how {
  margin: 128px 0px 0px 0px;
}

.how__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 37px;
     -moz-column-gap: 37px;
          column-gap: 37px;
  row-gap: 30px;
}

.how__title {
  margin: 0px 0px 48px 0px;
}

.how__text {
  max-width: 458px;
}

.how__text p {
  margin: 0px 0px 30px 0px;
}

.how__text p:last-child {
  margin: 0;
}

.how__images {
  padding: 0px 0px 44px 44px;
}

.how__img {
  width: 100%;
  height: 0;
  padding: 0px 0px 58% 0px;
  position: relative;
}

.how__img img {
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.how__subimg {
  position: absolute;
  bottom: -44px;
  left: -44px;
  width: 37%;
  aspect-ratio: 1/1;
}

.stories {
  margin: 84px 0px 0px 0px;
}

.stories__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  row-gap: 51px;
}

.stories__title {
  max-width: 450px;
}

.stories__items {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.stories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1010px;
  margin: 0px 0px 32px 0px;
}

.stories__item:last-child {
  margin: 0;
}

.stories-item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  aspect-ratio: 0.78/1;
  position: relative;
  margin: 0px 56px 0px 0px;
}

.stories-item__img img {
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stories-item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.stories-item__title {
  margin: 0px 0px 22px 0px;
}

.stories-item__text p {
  margin: 0px 0px 25px 0px;
}

.stories-item__text p:last-child {
  margin: 0;
}

.make {
  margin: 128px 0px 0px 0px;
}

.make__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  row-gap: 51px;
}

.make__items {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.make__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 4px 47px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 47px 2px rgba(0, 0, 0, 0.05);
  padding: 24px 36px;
}

.make__gallery {
  margin: 128px 0px 0px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 53% 1fr;
  grid-template-columns: 53% 1fr;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 40px;
}

.make-item__img {
  width: 100px;
  height: 70px;
  position: relative;
}

.make-item__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.make-item__title {
  margin: 0px 0px 16px 0px;
}

.make-item__title h2 {
  font-size: 24px;
  line-height: 36px;
}

.make-item__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.make-gallery__column img {
  width: 100%;
  border-radius: 16px;
}

.make-gallery__img {
  margin: 0px 0px 40px 0px;
}

.make-gallery__img:last-child {
  margin: 0;
}

.join {
  margin: 120px 0px 0px 0px;
}

.join__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 44px;
     -moz-column-gap: 44px;
          column-gap: 44px;
  row-gap: 24px;
}

.join__info {
  background-color: rgb(244, 247, 249);
  padding: 40px;
  border-radius: 20px;
}

.join__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.join-info__title {
  margin: 0px 0px 40px 0px;
}

.join-link__social {
  background-color: rgb(244, 247, 249);
  border-radius: 20px;
  padding: 69px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join-link__img {
  width: 34px;
  height: 34px;
  position: relative;
}

.join-link__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.join-link__text a {
  font-size: 24px;
  color: #000000;
  font-weight: 300;
  line-height: 24px;
}

.footer {
  margin: 128px 0px 0px 0px;
  background-color: rgb(107, 107, 241);
  padding: 80.5px 0px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  max-width: 434px;
  margin: 0px 0px 16px 0px;
}

.footer__text p {
  color: #ffffff;
  text-align: center;
}

.footer__button a {
  background-color: #000000;
  color: #ffffff;
}

@media (max-width: 970px) {
  .title h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .text p {
    font-size: 14px;
    line-height: 21px;
  }

  .container {
    max-width: 700px;
  }

  .header {
    padding: 48px 0px 16px 0px;
  }

  .fullscreen__body {
    min-height: auto;
    padding: 0px 0px 150px 0px;
  }

  .fullscreen__info {
    width: 90%;
    position: relative;
    top: -120px;
    background-color: transparent;
  }

  .fullscreen__info span {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    top: 0;
    left: -10%;
    height: 100%;
    border-bottom-right-radius: 70%;
  }

  .fullscreen__info::before {
    top: 120px;
    right: calc(10% - 23.5px);
  }

  .fullscreen__title {
    width: 100%;
  }

  .how__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .stories__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .stories__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .stories__button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }

  .stories__items {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .stories__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .make__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .make__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .make__button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }

  .make__items {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .make__gallery {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .make-gallery__column:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .make-gallery__column:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .join__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 970px) and (max-width: 650px) {
  .fullscreen__info span {
    left: -5%;
  }
}

@media (max-width: 670px) {
  .container {
    max-width: none;
  }
}

@media (max-width: 650px) {
  .title h1 {
    font-size: 28px;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.02);
            box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.02);
  }

  .header__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__body.active {
    top: 0;
  }

  .header__items {
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 160px 15px 30px 15px;
  }

  .header__item {
    margin: 0px 0px 24px 0px;
  }

  .header__item:last-child {
    margin: 0;
  }

  .header__item a {
    font-size: 28px;
    font-weight: 400;
  }

  .header__burger {
    display: block;
  }

  .fullscreen {
    padding: 170px 0px 0px 0px;
  }

  .fullscreen__info {
    width: 100%;
    top: -170px;
  }

  .fullscreen__info::before {
    display: none;
  }

  .fullscreen__text {
    width: 65%;
  }

  .stories__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 40px 0px;
  }

  .stories-item__img {
    aspect-ratio: 0.78/1;
    width: 148px;
    margin: 0px 0px 16px 0px;
  }

  .join__info {
    padding: 24px;
  }

  .join__links {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .join-link__social {
    padding: 25px;
  }
}

@media (max-width: 550px) {
  .how__images {
    padding: 0px 0px 44px 0px;
  }

  .how__subimg {
    left: 0;
    bottom: -39px;
  }
}

@media (max-width: 350px) {
  .fullscreen__info {
    padding: 0px 0px 40px 0px;
  }

  .fullscreen__text {
    margin: 0px 0px 25px 0px;
  }
}

.webp .fullscreen__body { background: url(../img/fullscreen/01.webp) center/cover no-repeat; }

.webp .fullscreen__info::before { background: url(../img/fullscreen/decor/01.webp) center/contain no-repeat; }

.webp .fullscreen__info::after { background: url(../img/fullscreen/decor/01.webp) center/contain no-repeat; }